* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px; */
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
      float: left;
      width: 30%;
      /* height: 900px;  only for demonstration, should be removed */
      background: rgb(255, 255, 255);
      padding: 20px;
  }
  
  
  /* Style the list inside the menu */
  nav ul {
      list-style-type: none;
      padding: 0;
  }
  
  article {
      float: left;
      padding: 20px;
      width: 70%;
      background-color: #f1f1f1;
     /*  height: 900px; only for demonstration, should be removed */
  }
  
  
  /* Clear floats after the columns */
  section:after {
      content: "";
      display: table;
      clear: both;
  }
  
  /* Style the footer */
  
  
  @media (max-width: 600px) {
      nav, article {
          width: 100%;
          height: auto;
      }
  }
  
  header {
      background-color: rgb(255, 94, 0);
      padding: 5px;
      text-align: center;
      font-size: 25px;
      color: white;
  }
  /* .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: white;
     color: black;
     text-align: center;
  } */
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: red;
    color: black;
  }
  
  /* Style the content */
  .content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;