#home {
  header {
    background-color: rgb(255, 94, 0);
    padding: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
  }

  nav {
    float: left;
    width: 30%;
    background: rgb(255, 255, 255);
    padding: 20px;
  }

  .home-content {
    display: flex;
    padding: 5px;
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 600px) {
    article {
      width: 100%;
      height: auto;
    }
  }
}
